* {
  box-sizing: border-box; }

body {
  background: #222222;
  padding-bottom: 56px;
  font-size: 12px;
}

#main {
  padding-left: 0; }

.centered {
  text-align: center;
}
navbar {
  position: fixed;
  margin-bottom: 0;
  right: 0;
  top: 0;
  padding: 0 !important;
  background: #303030;
  height: calc(100vh - 56px);
  width: inherit;
  overflow-y: auto;
  border-right: 2px solid #555; }
  navbar::-webkit-scrollbar{
    width: 10px;
    background-color: #222; }
  navbar::-webkit-scrollbar-thumb{
    background-color: black;
    -webkit-border-radius: 1ex; }
  navbar section > * {
    padding: 0 15px; }
  navbar .menu-item {
    color: white;
    transition: border-left, 0.2s; }
    navbar .menu-item a {
      color: #c8c8c8; }
      navbar .menu-item a:hover {
        color: white; }
    navbar .menu-item.active, navbar .menu-item:hover {
      border-left: 3px solid #00bc8c; }

.campus img {
  height: 150px;
}

td {
  font-size: 20px;
}
.img-thumbnail {
  max-width: 30%;
}

.campus-delete {
  position: relative;
  top: -70px;
  float: right;
  right: 10px;
}

.background {
  background-image: url("galaxy_image.jpg");
  padding: 25%;
}

.fantasy {
  font-family: fantasy;
}
.stats {
  font-size: 2em;
}
.add-new {
  float: right;
  position: relative;
  padding: 5px;
}
